*.acn
*.acr
*.alg
*.aux
*.auxlock
*.bak
*.bbl
*.blg
*.dvi
*.fls
*.glg
*.glo
*.gls
*.idx
*.ist
*.ilg
*.ind
*.log
*.out
*.ps
*.sav
*.swp
*.toc

*.run.xml
*-blx.bib

*_latexmk

*~

*.pgf-plot.*

Figures/External/
/Thesis.synctex.gz

**/auto
**/_build
**/_shake
**/Gen
*.mng
*.tex-old
/footempfile.txt
/ott-nested.tex
/ott-traits.tex
*.bcf
/ott-rules.tex
/Thesis.lof
/Thesis.lot
/diagram-eps-converted-to.pdf
*.brf
*.mngtex-old
/Thesis.loe
